
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  background:linear-gradient(135deg,#fdbe21,#f8e6af);
  display:flex;
  align-items:center;
  justify-content:center;
}
.login-container{
  width:320px;
  background:#ffffff;
  padding:30px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
  text-align:center;
}

.login-container h2{
  margin-bottom:20px;
}

.login-container input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.login-container button{
  width:100%;
  padding:10px;
  background:#f4b000;
  border:none;
  color:#111;
  font-weight:bold;
  border-radius:6px;
  cursor:pointer;
}

#error{
  color:red;
  margin-top:10px;
}
