*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  min-height:100vh;
  background: linear-gradient(135deg, #4397fd,#ffffff);
  display:flex;
  align-items:center;
  justify-content:center;
}

.profile-wrapper{
  width:100%;
  display:flex;
  justify-content:center;
  padding:20px;
}

.profile-card {
  position: relative;
  background: #fff;
  width: 600px;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.edit-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  background: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.edit-btn:hover {
  background: #0056b3;
}

.profile-image img{
  width:300px;
  height:300px;
  border-radius:50%;
  object-fit:cover;
  border:4px solid #f4b000;
  margin-bottom:15px;
}

.profile-card h2{
  font-size:22px;
  margin-bottom:4px;
}

.username{
  color:#888;
  font-size:14px;
  margin-bottom:20px;
}

.profile-info{
  text-align:left;
  margin-bottom:25px;
}

.profile-info div{
  display:flex;
  align-items:center;
  gap:10px;
  padding:10px 0;
  border-bottom:1px solid #eee;
  font-size:14px;
}

.profile-info i{
  color:#f4b000;
}

.profile-actions{
  display:flex;
  gap:12px;
  justify-content:center;
}

.logout-btn{
  background:#f4b000;
  color:#000;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-size:14px;
  width: 150px;
}

.home-btn{
  border:1px solid #111;
  padding:10px 18px;
  border-radius:8px;
  width: 150px;
  text-decoration:none;
  color:#111;
  font-size:14px;
}

.logout-btn:hover{
  opacity:0.85;
}

.home-btn:hover{
  background:#111;
  color:#fff;
}
